# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JavaProj\coronavirus-tracking-app-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
